@model IEnumerable<tvShowDemoSite.Models.ShowModel>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            @Html.ActionLink("Edit", "Update", "Show", new { id = item.Id }, new { @class = "btn btn-warning btn-block" })
                        </div>
                        <div class="col-xs-6">
                            @Html.ActionLink(@item.Title, "Read", "Show", new { id = item.Id }, new { @class = "btn btn-info btn-block" })
                        </div>
                        <div class="col-xs-3">
                            @Html.ActionLink("Delete", "Delete", "Show", new { id = item.Id }, new { @class = "btn btn-danger btn-block" })
                        </div>
                    </div>
                </div>
                <div class="panel-body"> @* row? *@
                    <div class="col-md-3">
                        <!--image-->
                    </div>
                    <div class="col-md-9">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Title)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ReleaseDate)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.ReleaseDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Network)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Network)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Seasons)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Seasons)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Episodes)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Episodes)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@* No more table
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Network)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seasons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Episodes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Network)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seasons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Episodes)
        </td>
        <td>
            @Html.ActionLink("Details", "Read", "Show", new { id = item.Id }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Edit", "Update", "Show", new { id = item.Id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", "Show", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
*@