@{
    Layout = null;
}
@model List<tvShowDemoSite.Models.ShowModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <h1>Test page! status code: @this.Response.Status @this.Response.SubStatusCode</h1>
    <h2>Listing 100 items in database:</h2>
    <ol>
        @{ 
            foreach (tvShowDemoSite.Models.ShowModel show in Model)
            {
                <li>
                    <p>
                        ID: @show.Id <br />
                        Title: @show.Title <br />
                        Network: @show.Network <br />
                        Release Date: @show.ReleaseDate <br />
                        Seasons: @show.Seasons <br />
                        Episodes: @show.Episodes <br />
                        @Html.ActionLink("delete", "Delete", "Show", new { @id=show.Id }, new { @class = "btn btn-default" } )
                        @Html.ActionLink("update", "Update", "Show", new { @id = show.Id }, new { @class = "btn btn-default" })
                    </p>
                </li>
            }
        }
    </ol>
</body>
</html>
